# Exclude files and folders from release archives
# Only prost-input/ and prost-output/ should be in release zips
.gitignore export-ignore
.gitattributes export-ignore
.github/ export-ignore
.vscode/ export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
LICENSE export-ignore
README.MD export-ignore